<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.scispike.socket-api"
      version="2.0.2">
    <name>SocketApi</name>
    <description>Handles messages to and from other service to communicate with a conversation engine</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines> 
    
    <!-- ios -->
    <!-- TBD -->
        
    <!-- android -->
    <platform name="android">
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
        <source-file src="src/main/java/com/scispike/callback/Callback.java" target-dir="src/com/scispike/callback/" /> 
        <source-file src="src/main/java/com/scispike/callback/Event.java" target-dir="src/com/scispike/callback/" /> 
        <source-file src="src/main/java/com/scispike/callback/EventEmitter.java" target-dir="src/com/scispike/callback/" /> 
        <source-file src="src/main/java/com/scispike/conversation/Agent.java" target-dir="src/com/scispike/conversation/" /> 
        <source-file src="src/main/java/com/scispike/conversation/AuthFunction.java" target-dir="src/com/scispike/conversation/" /> 
        <source-file src="src/main/java/com/scispike/conversation/Socket.java" target-dir="src/com/scispike/conversation/" />
        <source-file src="src/main/java/com/scispike/mqtt/MqttSocket.java" target-dir="src/com/scispike/mqtt/" />
        <source-file src="src/main/java/com/scispike/mqtt/MqttAgent.java" target-dir="src/com/scispike/mqtt/" />
        <source-file src="src/main/java/com/scispike/mqtt/MqttWrapper.java" target-dir="src/com/scispike/mqtt/" />
        <source-file src="src/main/java/com/scispike/ws/ReconnectingSocket.java" target-dir="src/com/scispike/ws/" />
        <source-file src="src/main/java/com/scispike/ws/SockJsClient.java" target-dir="src/com/scispike/ws/" />    
        <source-file src="src/main/java/com/scispike/ws/WebSocketTransport.java" target-dir="src/com/scispike/ws/" />   
        <source-file src="src/main/java/com/scispike/ws/WsSocket.java" target-dir="src/com/scispike/ws/" />
        <source-file src="src/main/java/com/scispike/ws/WsAgent.java" target-dir="src/com/scispike/ws/" />
    </platform>          
</plugin>
